@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Styling

Fonts:
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', serif;

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
}

button:focus {
    outline:0;
}

section{
    display: flex;
    width: 100%;
    margin: 0 0 24px 0;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    min-height: 480px;
}
button{
    font-size: 20px;
}

footer {
    min-height: 120px;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(51,51,51);
}

footer p a {
    color: #E24319;
    text-decoration: none;
}

footer p a:focus {
    color: #E24319;
}

p {
    margin: 0;
}

hr {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: none;
    height: 2px;
}

.main-container{
    width: 100%;
    display: flex;
}
.inner-container{
    width: 83.333333%;
    float: left;
    margin:0 auto;
}
.flexbox-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/

.hero-img {
    background: url('sankofa1.jpg') no-repeat center;
    background-size: cover;
    min-height: 720px;
    z-index: 0;
}

.title{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 96px;
    font-weight: 400;
    color: white;
    margin: 0;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin: 18px 0;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #FFF;
    margin-top: 32px;
}

div > h1{
    font-size: 40px;
    text-align: center;
    text-align: left;
}
.signup-form{
    width: 33%;
    font-size: 20px;
    height: 56px;
    padding: 0 18px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}

.signup-btn{
    width: 20%;
    font-size: 20px;
    height: 56px;
    padding: 0;
    border: none;
    background-color: white;
    color: #E24319;
    cursor: pointer;
}

.text-align{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: grey;
}
.video-align{
	padding: 40px 0 40px 0px;
}
.signup-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.description {
    min-height: 480px;
}

.description-container{
    width: 50%;
    display: flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: row wrap;
}

.sankofa-color{
    background-color: #E24319;
}

.description-text{
    width: 32%;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 24px 0;
    color: white;

}

.description-title{
    width: 100%;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 18px 0;
}

.title-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    height: 50%;
}


